In [39]:
import whyqd as _w
import numpy as np
import pandas as pd

In [40]:
schema = _w.Schema()

details = {
        "name": "Gender_inequality_in_education",
        "title": "Gender_inequality_in_education",
        "description": """Les inegalitès de genre au niveau de la scolarisation ."""
}
schema = _w.Schema()
schema.set_details(**details)

In [41]:
fields = [
    {
        "name": "Country Name",
        "title": "Country Name",
        "type": "string",
        "description": "Official country names.",
        "constraints": {
            "required": True
        }
    },
    {
        "name": "HDI Category",
        "title": "HDI Category",
        "type": "string",
        "description": "Human Development Index Category derived from the HDI Rank.",
    },
    {
        "name": "Indicator Name",
        "title": "Indicator Name",
        "type": "string",
        "description": "Indicator described in the data series.",
    },
    {
        "name": "Reference",
        "title": "Reference",
        "type": "string",
        "description": "Reference to data source.",
    },
    {
        "name": "Year",
        "title": "Year",
        "type": "year",
        "description": "Year of release.",
    },
    {
        "name": "Values",
        "title": "Values",
        "type": "number",
        "description": "Value for the Year and Indicator Name.",
        "constraints": {
            "required": True
        }
    },
]
for field in fields:
    schema.set_field(**field)

In [42]:
schema.field("country_name")
{'name': 'country_name',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country Name',
 'description': 'Official country names.'
 }
schema.field("country_name")

{'name': 'country_name',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country Name',
 'description': 'Official country names.'}

In [43]:
directory = "TABLE_30"
filename = "schema_table_30"
schema.save(directory, filename, overwrite=True)

True

In [44]:
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

import numpy as np
import whyqd as _w

SCHEMA_SOURCE = "TABLE_30schema_table_30.json"
DIRECTORY = "TABLE_30"
INPUT_DATA = [ "/Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/HDR 2007-2008 Table 30.xlsx"]
method = _w.Method(SCHEMA_SOURCE, directory=DIRECTORY, input_data=INPUT_DATA)

In [45]:
print(method.print_input_data())

Data id: 0bb99e6c-8f28-4416-9d58-eebc21aa479a
Original source: /Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/HDR 2007-2008 Table 30.xlsx

====  ============  ============  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..    Unnamed: 0    Unnamed: 1    Unnamed: 2    Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24    Unnamed: 25    Unnamed: 26    Unnamed: 27    Unnamed: 28    Unnamed: 29    Unnamed: 30
====  ============  ============  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0           nan           nan           nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1           nan           nan           nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2           nan           nan           nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============  ============  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============

In [46]:
method.default_morph_types

['CATEGORISE', 'DEBLANK', 'DEDUPE', 'DELETE', 'MELT', 'REBASE', 'RENAME']

In [47]:
method.default_morph_settings("CATEGORISE")

{'name': 'CATEGORISE',
 'title': 'Categorise',
 'type': 'morph',
 'description': 'Convert row-level categories into column categorisations.',
 'structure': ['rows', 'column_names']}

In [48]:
method.default_morph_settings("DEBLANK")

{'name': 'DEBLANK',
 'title': 'De-blank',
 'type': 'morph',
 'description': 'Remove all blank columns and rows from a DataFrame.',
 'structure': []}

In [49]:
method.default_morph_settings("DEDUPE")

{'name': 'DEDUPE',
 'title': 'Deduplicate',
 'type': 'morph',
 'description': 'Remove all duplicated rows from a DataFrame.',
 'structure': []}

In [50]:
method.default_morph_settings("DELETE")

{'name': 'DELETE',
 'title': 'Delete',
 'type': 'morph',
 'description': "Delete rows provided in a list. They don't have to be contiguous.",
 'structure': ['rows']}

In [51]:
method.default_morph_settings("WELT")

{}

In [52]:
method.default_morph_settings("REBASE")

{'name': 'REBASE',
 'title': 'Rebase',
 'type': 'morph',
 'description': 'Rebase the header row at an indexed row and drop rows above that point.',
 'structure': ['rows']}

In [53]:
method.default_morph_settings("RENAME")

{'name': 'RENAME',
 'title': 'Rename',
 'type': 'morph',
 'description': 'Rename header columns listed in a dict.',
 'structure': ['column_names']}

In [54]:
_id = method.input_data[0]["id"]
df = method.input_dataframe(_id)
df.head(17)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,… and achieving equality for all women and men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30 Gender inequality in education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MDG,...,MDG,NaN,NaN,NaN,MDG,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,Adult literacya ...,NaN,NaN,NaN,Youth literacya,NaN,NaN,...,NaN,NaN,"Gross tertiary enrolmentb,d",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,Female rate\n(% aged 15 and older)\n1995-2005,NaN,Ratio of female rate to male rate\n1995-2005,NaN,Female rate\n(% aged 15-24)\n1995-2005,NaN,Ratio of female rate to male rate\n1995-2005,...,Ratio of female rate to male rate\n2005,NaN,Female ratio\n(%)\n2005,NaN,Ratio of female rate to male rate\n2005,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,Iceland,NaN,..,NaN,..,NaN,..,NaN,..,...,1.03,e,93,e,1.85,e,NaN,NaN,NaN,NaN
15,2,Norway,NaN,..,NaN,..,NaN,..,NaN,..,...,1.01,NaN,97,NaN,1.54,NaN,NaN,NaN,NaN,NaN
16,3,Australia,NaN,..,NaN,..,NaN,..,NaN,..,...,0.95,NaN,80,NaN,1.25,NaN,NaN,NaN,NaN,NaN

In [55]:
method.add_input_data_morph(_id,["REBASE",12])

In [58]:
rows = [int(i) for i in np.arange(194, df.index[-1]+1)]
method.add_input_data_morph(_id, ["DELETE", rows])

In [59]:
columns = [
    "HDI rank",
    "Country",
    "Female_rate_(%_aged_15_and_older)_1995-2005",
    "Reference 1",
    "Ratio_of_female_rate_to_male_rate_1995-2005",
    "Reference 2",
    "Female_rate_(%_aged_15-24)_1995-2005",
    "Reference 3",
    "Ratio_of_female_rate_to_male_rate_1995-2005",
    "Reference 4",
    "Female_rate_(%)_2005",
    "Reference 5",
    "Ratio_of_female_rate_to_male_rate_2005",
    "Reference 6",
    "Female_ratio_(%)_2005",
    "Reference 7",
    "Ratio_of_female_rate_to_male_rate_2005", 
    "Reference 8",
    "Female_ratio_(%)_2005",
    "Reference 9",
    "Ratio_of_female_rate_to_male_rate_2005",
    "Reference 10",
    "Female_ratio_(%)_2005",
    "Reference 11",
    "Ratio_of_female_rate_to_male_rate_2005",
    "Reference 12",
    "HPI-1 rank minus income poverty rank"
]

method.add_input_data_morph(_id, ["RENAME", columns])

In [ ]:
df = method.input_dataframe(_id)
df.head()

In [ ]:
df = method.input_dataframe(_id)
df.head(100)

In [ ]:
# indices des lignes de données catégorielles
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
rows = df[df["HDI rank"].isin(hdi_categories)].index

In [ ]:
type(rows)

In [ ]:
df = method.input_dataframe(_id)
df.head()

In [ ]:
method.add_input_data_morph(_id, ["CATEGORISE", list(rows), "HDI category"])

In [ ]:
df = method.input_dataframe(_id)
df.head()

In [ ]:
# Sélectionnez toutes les colonnes à "melt"

columns = [ "HDI rank",
            "Female_rate(%_aged_15_and_older)_1995-2005",
            "Ratio_of_female_rate_to_male_rate_1995-2005",
            "Female_rate(%_aged_15-24)_1995-2005",   
            "Ratio_of_female_rate_to_male_rate_1995-2005",   
            "Female_rate_(%)_2005",    
            "Ratio_of_female_rate_to_male_rate_2005",  
            "Female_ratio_(%)_2005", 
            "Ratio_of_female_rate_to_male_rate_2005", 
            "Female_ratio_(%)_2005",
            "Ratio_of_female_rate_to_male_rate_2005",
            "Female_ratio_(%)_2005",
            "Ratio_of_female_rate_to_male_rate_2005",
            "HPI-1 rank minus income poverty rank",
]
method.add_input_data_morph(_id, ["MELT", columns, ["Indicator Name", "Indicator Value"]])

In [ ]:
columns = [
    "Reference 1",
    "Reference 2",
    "Reference 3",
    "Reference 4",
    "Reference 5",
    "Reference 6",
    "Reference 7",
    "Reference 8",
    "Reference 9",
    "Reference 10",
    "Reference 11",
    "Reference 12",
    
]

method.add_input_data_morph(_id, ["MELT", columns, ["Reference Name", "Reference"]])

In [ ]:
df = method.input_dataframe(_id)
df.head(100)

In [ ]:
method.add_input_data_morph(_id, ["DEBLANK"])

In [ ]:
df = method.input_dataframe(_id)
df.head()

In [60]:
print(method.help("merge"))

`merge` will join, in order from right to left, your input data on a common column.

To add input data, where `input_data` is a filename, or list of filenames:

	>>> method.add_input_data(input_data)

To remove input data, where `id` is the unique id for that input data:

	>>> method.remove_input_data(id)

Prepare an `order_and_key` list, where each dict in the list has:

	{{id: input_data id, key: column_name for merge}}

Run the merge by calling (and, optionally - if you need to overwrite an existing merge - setting
`overwrite_working=True`):

	>>> method.merge(order_and_key, overwrite_working=True)

To view your existing `input_data`:

	>>> method.input_data


Data id: 0bb99e6c-8f28-4416-9d58-eebc21aa479a
Original source: /Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/HDR 2007-2008 Table 30.xlsx

====  ============  ============  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..    Unnamed: 0    Unnamed: 1    Unnamed: 2    Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24    Unnamed: 25    Unnamed: 26    Unnamed: 27    Unnamed: 28    Unnamed: 29    Unnamed: 30
====  ============  ============  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0           nan           nan           nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1           nan           nan           nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2           nan           nan           nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============  ============  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============


Current method status: `Ready to Merge`

In [62]:
%time method.merge(overwrite_working=True)

In [ ]:
print(method.help("structure"))

In [ ]:
structure = {
    "indicator_name": ["RENAME", "Indicator_Name"],
    "hdi_categories": ["RENAME","hdi_categories"],
    "country_name":["RENAME","country_name"],
    "year": ["RENAME", "year"]
    "reference": ["RENAME", "Reference"],
    "values":["RENAME","Indicator Value"],
}
method.set_structure(**structure)

In [ ]:
#method.transform(overwrite_output=True)
FILENAME = "Gender_inequality"
method.save(directory, filename=FILENAME, overwrite=True)

In [ ]:
method.input_data_morphs(_id)

In [ ]:
%time method.validates

In [ ]:
df = pd.read_csv("/Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/TABLE_30.csv")
df.head()

In [ ]:
method.input_data_morphs(_id)

In [ ]:
from pandas_schema import Column, Schema
from pandas_schema.validation import LeadingWhitespaceValidation, TrailingWhitespaceValidation, IsDtypeValidation, InListValidation

columns = ["HDI rank","country_name", "hdi_category", "values"]

hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]

schema = Schema([
    Column("country_name", [LeadingWhitespaceValidation(), TrailingWhitespaceValidation()]),
    Column("hdi_category", [InListValidation(hdi_categories)]),
    Column("values", [IsDtypeValidation(np.dtype(float)), IsDtypeValidation(np.dtype(int))])
])

errors = schema.validate(df[columns])

print(F"Nombre d'erreurs :  {len(errors)}")

for error in errors[:10]:
    print(error)

In [ ]:
for l in method.citation.split(","):
    print(l)